.indivualProcuts {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 18em;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.men-heading {
  font-family: var(--text-font);
  padding-bottom: 5px;
  font-size: xx-large;
  font-weight: bold;
  padding: 10px 0;
}

.head-men {
  display: flex;
  justify-content: center;
}

.img-products {
  height: 300px;
  max-width: 100%;
}

.product-content {
  height: 70px;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.product-title,
.product-price {
  font-family: var(--text-font);
  font-size: 17px;
  font-weight: 600;
}

.products-for-men {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.loading {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.product-img-div {
  cursor: pointer;
  justify-content: center;
  display: flex;
}
